
.gs-section-01 h3 { 
     color: red,
}

.gs-section-01 p {
     font-size: 30px;
}

.gs-section-02 h3 { 
     color: blue;
}

.gs-section-02 p {
     font-size: 10px;
     word-spacing: 3px;
}

.gs-section-03 h3 { 
     color: green;
}

.gs-section-03 p {
     font-size: 20px;
     font-style: italic;
}
